*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.btn{
    cursor: pointer;
    border: none;
    background-color: none;
    box-shadow: 0 6px 8px rgba(0,0,0,0.1);
}

ul{
    list-style: none;
}

