body{
    width: 100vw;
    height: 100vh;
    font-family: "Bai Jamjuree", sans-serif;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200px;
    background-image: url(../images/bg-header-desktop.png);
}

.container-clipboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

