body{
    width: 100vw;
    height: 100vh;
    font-family: "Bai Jamjuree", sans-serif;
    overflow-x: hidden;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 230px; 
    position: relative;    
}

.bg-header{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
}

.logo{
    width: 100px;
    z-index: 1;
}

.container-clipboard{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.container-clipboard .history .title-home{
    font-size: 26px;
    padding: 0px 270px;   
}

.history .description-home{
    padding: 10px;
    color: var(--gray-500);
    max-width: 600px;
    margin: 0 auto;
}

.buttons{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}

.buttons .btn{
    padding: 12px 40px;
    border-radius: 25px;
    font-family: "Bai Jamjuree", sans-serif;
    font-size: 1rem;
    font-weight: 700;
    color: white;
}

.ios{
    background-color: var(--green-500);
}

.mac{
     background-color: var(--blue-100);
}

.container-about{
    height: 20vh;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}


.container-about .title-snippets{
    padding: 20px;
}

.container-about .description-about{
    width: 500px;
    text-align: center;
}

.about-info p{
    padding: 20px;
    width: 300px;

}

.container-about .about-info{
     color: var(--gray-500);
}

.container-info-about{
    display: flex;
    margin-top: 50px;
}

.container-info-about .explications{
    display: flex;
    padding: 130px;
    text-align: left;        
}

.container-info-about .explications ul li {
    margin-bottom: 3rem;
}

.container-info-about .explications .title-explication{
    font-size: 1rem;
    font-weight: 700;
}

.container-info-about .explications .explication{
     color: var(--gray-500);
}

.clipboard-access{
    margin-top: 100px;
}

.clipboard-access .title-access{
    padding: 20px;
}

.clipboard-access .description{
    padding: 20px 100px;
    color: var(--gray-500);
    margin-bottom: 50px;
}

.super-charge{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.super-charge .charge{
    padding: 20px;
}

.super-charge .description{
    padding: 10px;
    color: var(--gray-500);
}

.create-plain-view-list{
    display: flex;
    padding: 10px;

}

.create-plain-view-list p{
    font-size: 12px;
    color: var(--gray-500);
    padding: 10px;    
}

.create-plain-view-list h2{
    margin-top: 20px;
}

.create, .plain, .preview{
    width: 360px;
}

.create, .plain, .preview{
    text-align: center;
    padding: 30px;
}


.big-tecs{
    display: flex;
    justify-content: space-evenly;
    height: 50vh;
    align-items: center;
    width: 100%;
}

.big-tecs img{
    width: 90px;
    height: 30px;
}

.under-footer .title-finally{
    padding: 20px;
}

.under-footer .description-finally{
    padding: 20px;
    color: var(--gray-500);
}

.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100px;
    background-color: rgb(231, 228, 228);
}

.footer img{
    width: 50px;
    height: 50px;
    gap: 50px
}

.footer .contacts .footer-links{
       display: grid;
        grid-auto-flow: column;
        grid-template-rows: repeat(2, auto);
        grid-template-columns: none;
        row-gap: 20px;
        column-gap: 60px;
        justify-content: space-between;
    }
       
.footer-links li:hover{
    color: var(--gray-500);
    cursor: pointer;
}